**DATA CLEANING USING SQL**

In [ ]:
-- show table to ecplore data
Select *
From nash_housingdata.dbo.NashvileHousing

CONVERTING DATE FORMAT

In [6]:
-- converting date format
Update NashvileHousing
SET SaleDate = CONVERT(Date,SaleDate)

In [ ]:
-- property address
SElect *
from nash_housingdata.dbo.nashvilehousing
-- where PropertyAddress is null

In [7]:
-- the propertyaddress column has different rows having similar ParcelId and UniqueID
-- using the unique id to add data to the propertyaddress column using self join
Select a.ParcelID, a.PropertyAddress, b.ParcelID, b.PropertyAddress, ISNULL(a.PropertyAddress,b.PropertyAddress)
From nash_housingdata.dbo.NashvileHousing a
JOIN nash_housingdata.dbo.NashvileHousing b
	on a.ParcelID = b.ParcelID
	AND a.[UniqueID ] != b.[UniqueID ]
Where a.PropertyAddress is null

Update a
SET PropertyAddress = ISNULL(a.PropertyAddress,b.PropertyAddress)
From nash_housingdata.dbo.NashvileHousing a
JOIN nash_housingdata.dbo.NashvileHousing b
	on a.ParcelID = b.ParcelID
	AND a.[UniqueID ] <> b.[UniqueID ]
Where a.PropertyAddress is null

In [ ]:
-- splitting the Property address (address, city) at the delimiter
SELECT
SUBSTRING(PropertyAddress, 1, CHARINDEX(',', PropertyAddress) -1 ) as Address
, SUBSTRING(PropertyAddress, CHARINDEX(',', PropertyAddress) + 1, LEN(PropertyAddress)) as Address

From nash_housingdata.dbo.NashvileHousing

In [22]:
-- creating columns for the split property address
-- ALTER TABLE NashvileHousing
-- Add street_add Nvarchar(255);
-- Update NashvileHousing
-- SET street_add = SUBSTRING(PropertyAddress, 1, CHARINDEX(',', PropertyAddress) -1 )
-- ALTER TABLE NashvileHousing
-- Add City_add Nvarchar(255);

Update NashvileHousing
SET City_add = SUBSTRING(PropertyAddress, CHARINDEX(',', PropertyAddress) + 1 , LEN(PropertyAddress))

In [ ]:
Select OwnerAddress
From nash_housingdata.dbo.NashvileHousing

In [4]:
ALTER TABLE NashvileHousing
Add Owner_str_add Nvarchar(255);

ALTER TABLE NashvileHousing
Add Owner_city_add Nvarchar(255);

ALTER TABLE NashvileHousing
Add Owner_State_add Nvarchar(255);

In [ ]:
Update NashvileHousing
SET Owner_str_add = PARSENAME(REPLACE(OwnerAddress, ',', '.') , 3)

Update NashvileHousing
SET Owner_city_add = PARSENAME(REPLACE(OwnerAddress, ',', '.') , 2)

Update NashvileHousing
SET Owner_State_add = PARSENAME(REPLACE(OwnerAddress, ',', '.') , 1)

In [ ]:
-- the sold as vacant field contains different options
Select Distinct(SoldAsVacant), Count(SoldAsVacant)
From nash_housingdata.dbo.NashvileHousing
Group by SoldAsVacant
order by 2

In [11]:
Update NashvileHousing
SET SoldAsVacant = CASE When SoldAsVacant = 'Y' THEN 'Yes'
	   When SoldAsVacant = 'N' THEN 'No'
	   ELSE SoldAsVacant
	   END

In [ ]:
-- Delete Unused Columns



Select *
From nash_housingdata.dbo.NashvileHousing


ALTER TABLE nash_housingdata.dbo.NashvileHousing
DROP COLUMN OwnerAddress, TaxDistrict, PropertyAddress, SaleDate